################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi.UnitTest/obj
/WebApi.UnitTest/bin/Debug/net6.0/CoverletSourceRootsMapping
/WebApi.UnitTest/bin/Debug/net6.0
